# Distributions
/Anyevent-Filesys-Watch*

!Build/
.last_cover_stats
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dist::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# Visual Studio Code
/.vscode

# i18n
po/*.gmo

# ExtUtils::MakeMaker
/blib
